.name__text {
  font-weight: bold;
  margin: auto 10em auto;
  font-size: 1.5em;
  color: #d9a86c; }
  @media (max-width: 767px) {
    .name__text {
      text-align: center;
      margin: 0;
      padding: 0.5em; } }

.profession__container {
  margin: 1em 2em;
  font-weight: bold;
  font-size: 6em;
  text-align: left;
  line-height: 2em; }
  @media (max-width: 767px) {
    .profession__container {
      font-size: 3em;
      margin: 1em 0.5em;
      text-align: center; } }

.container__dynamicText {
  margin: 0em 4em;
  font-size: 3em;
  display: inline-flex; }
  @media (max-width: 767px) {
    .container__dynamicText {
      font-size: 1.5em;
      margin: 0em auto; } }

.hello__text {
  font-size: 14vw;
  color: #d9a86c;
  font-family: "Bungee Outline", sans-serif;
  transform: translateY(0.5em); }

.or__text {
  font-family: "Caveat", sans-serif;
  font-size: 1.3em;
  margin: auto;
  color: #fff;
  text-decoration: underline;
  border-bottom: 1px solid #fff; }

.u-center-content {
  text-align: center;
  margin: auto; }

.u-heading-text {
  font-weight: bold;
  color: #d9a86c;
  font-size: 1em; }

.u-subject-text {
  text-align: center;
  font-size: 3em;
  padding: 2em;
  letter-spacing: 0.5em;
  background-image: linear-gradient(89.8deg, #cc9cdf 0.3%, #9bdbf5 20.4%, #f5b7d0 40.2%, #faba62 62.9%, #eaeef0 81.9%, #faf5ab 99.2%);
  color: #010101;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Caveat", sans-serif; }
  @media (max-width: 767px) {
    .u-subject-text {
      font-size: 1.3em; } }

.u-form-input {
  width: 20em;
  border-radius: 5px;
  outline: 0;
  border-width: 0 0 2px;
  align-items: center;
  margin: 1.5em 0;
  font-size: 1.1rem;
  padding: 0.5em;
  width: 70%;
  text-decoration: none;
  border: none;
  border-bottom: 2px solid transparent;
  transition: all 0.5s; }
  @media (max-width: 767px) {
    .u-form-input {
      width: 100%; } }
  .u-form-input::placeholder {
    color: rgba(210, 211, 215, 0.7); }
  .u-form-input:empty {
    color: #d2d3d7;
    font-family: "Montserrat", sans-serif;
    background: rgba(100, 100, 100, 0.5); }
  .u-form-input:focus {
    outline: 0; }
  .u-form-input:focus:invalid {
    border-bottom: 3px solid red; }
  .u-form-input:focus:valid {
    border-bottom: 3px solid green; }

.u-form-input:placeholder-shown + .u-label-text {
  transform: translateY(-3.5em) translateX(2px);
  z-index: -1;
  transition: all 0.5s;
  opacity: 0; }

.u-label-text {
  transition: all 0.5s;
  font-size: 1em;
  opacity: 1; }
  @media (max-width: 767px) {
    .u-label-text {
      transform: translateY(-6em); } }
  @media (max-width: 767px) {
    .u-label-text-message {
      transform: translateY(-14.5em); } }

.u-container-for-grid {
  display: grid;
  grid-template-areas: ". . ";
  grid-gap: 5em;
  font-size: 2em;
  line-height: 1.5em;
  padding: 3em 5em;
  text-align: left; }
  @media (max-width: 767px) {
    .u-container-for-grid {
      grid-template-areas: ".";
      margin-top: 1em;
      padding: 1em;
      text-align: center;
      font-size: 1.5em;
      grid-gap: 1em; } }

.u-media-icon {
  height: 4.5em;
  width: 4.5em;
  border-radius: 50%; }

.container__landing {
  display: flex;
  flex-direction: column;
  height: 100vh; }

.container__hamburger {
  display: flex;
  padding: 1.5em 2em;
  position: sticky;
  background: #0e0e0e;
  top: 0;
  z-index: 1; }
  @media (max-width: 767px) {
    .container__hamburger {
      flex-direction: column;
      text-align: center;
      padding: .5em 0; } }
  .container__hamburger_content {
    height: 99vh;
    width: 100vw;
    display: flex;
    font-size: 1.1em;
    text-align: center; }
    @media (max-width: 767px) {
      .container__hamburger_content {
        flex-direction: column; } }
    .container__hamburger_content_main {
      width: 23%;
      padding: 5em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      grid-template-areas: ".";
      background: #010101;
      color: #bec0c6;
      transition: all 0.5s; }
      @media (max-width: 767px) {
        .container__hamburger_content_main {
          text-align: center;
          width: 100%;
          height: 23%;
          padding: 1em; } }
      .container__hamburger_content_main_heading {
        font-size: 2em;
        line-height: 1.5em; }
        @media (max-width: 767px) {
          .container__hamburger_content_main_heading {
            margin: auto; } }
      .container__hamburger_content_main_paragraph {
        color: #010101; }
        .container__hamburger_content_main_paragraph:hover {
          color: #d2d3d7; }
        @media (max-width: 767px) {
          .container__hamburger_content_main_paragraph {
            display: none; } }
      .container__hamburger_content_main:hover {
        transition: all 0.5s;
        background: #d2d3d7;
        color: #010101; }

@media (max-width: 767px) {
  .hamburger-react {
    margin: auto;
    text-align: center; } }

.container__services {
  display: grid;
  grid-template-areas: ". . ";
  grid-gap: 5em;
  font-size: 2em;
  line-height: 1.5em;
  padding: 3em 5em;
  text-align: left;
  margin-top: 2em; }
  @media (max-width: 767px) {
    .container__services {
      grid-template-areas: ".";
      margin-top: 1em;
      padding: 1em;
      text-align: center;
      font-size: 1.5em;
      grid-gap: 1em; } }

.container__welcome {
  display: grid;
  grid-template-areas: ". . ";
  grid-gap: 5em;
  font-size: 2em;
  line-height: 1.5em;
  padding: 3em 5em;
  text-align: left;
  margin-top: 7.5em; }
  @media (max-width: 767px) {
    .container__welcome {
      grid-template-areas: ".";
      margin-top: 1em;
      padding: 1em;
      text-align: center;
      font-size: 1.5em;
      grid-gap: 1em; } }

.container__work_image {
  width: 50%; }

.container__inspiration {
  display: flex;
  flex-direction: column;
  align-content: space-between; }
  .container__inspiration_box {
    margin-top: 2em;
    display: flex;
    align-content: space-evenly;
    justify-content: space-between; }
    @media (max-width: 767px) {
      .container__inspiration_box {
        flex-direction: column-reverse; } }
    .container__inspiration_box_2 {
      text-align: right;
      padding: 2em;
      margin: auto;
      margin-left: -80em;
      z-index: -1; }
      .container__inspiration_box_2_image {
        height: 19em;
        width: 30em; }
        @media (max-width: 767px) {
          .container__inspiration_box_2_image {
            height: 15em;
            width: 90%; } }
      @media (max-width: 767px) {
        .container__inspiration_box_2 {
          margin: auto;
          padding: 0.5em;
          text-align: center; } }
    .container__inspiration_box_1 {
      display: flex;
      flex-direction: column;
      align-content: space-evenly;
      margin: 4em;
      padding: 3em 5em;
      width: 50em;
      grid-template-areas: ".";
      background: rgba(1, 1, 1, 0.8); }
      @media (max-width: 767px) {
        .container__inspiration_box_1 {
          padding: 0.5em;
          text-align: center;
          width: 100%;
          margin: auto; } }
      .container__inspiration_box_1_name {
        font-size: 2em;
        margin-bottom: 0.5em;
        color: #d9a86c;
        font-weight: bold; }
        @media (max-width: 767px) {
          .container__inspiration_box_1_name {
            font-size: 1.5em; } }
      .container__inspiration_box_1_info {
        font-size: 1.5em;
        line-height: 1.5em; }
      @media (max-width: 767px) {
        .container__inspiration_box_1 {
          font-size: 1em; } }

.container__contact_form {
  width: fit-content;
  margin: 5em auto;
  display: grid;
  padding: 2em 4em;
  grid-template-areas: ".";
  justify-content: space-evenly;
  background: rgba(100, 100, 100, 0.3);
  backdrop-filter: blur(4px);
  flex-direction: column; }
  @media (max-width: 767px) {
    .container__contact_form {
      flex-direction: column;
      width: 90%; } }
  .container__contact_form_button {
    width: 50%;
    padding: 1em;
    text-align: center;
    border-radius: 5px;
    color: #d9a86c;
    background: linear-gradient(55deg, #202020, #1b1b1b);
    box-shadow: 5px 5px 10px #2c2c2c, -5px -5px 10px #2c2c2c;
    transition: all 0.5s;
    font-size: 1.2em;
    margin: auto;
    position: relative;
    border: none;
    cursor: pointer; }
    .container__contact_form_button:hover {
      background: linear-gradient(145deg, #1b1b1b, #202020);
      box-shadow: -5px -5px 10px #111111, 5px 5px 10px #111111;
      color: #d9a86c;
      transform: scale(1.2);
      transition: all 0.5s; }
    .container__contact_form_button:active {
      transition: all 0.2s;
      transform: translateY(-1px);
      box-shadow: -2.5px -2.5px 10px #111111, 2.5px 2.5px 10px #2c2c2c; }
    @media (max-width: 767px) {
      .container__contact_form_button {
        margin: auto; } }
  .container__contact_form_message_input {
    height: 10em;
    width: 20em;
    background: rgba(100, 100, 100, 0.3); }
    @media (max-width: 767px) {
      .container__contact_form_message_input {
        width: 100%; } }
  .container__contact_form_grid {
    display: flex;
    padding: 2em 0;
    margin: auto; }
    @media (max-width: 767px) {
      .container__contact_form_grid {
        display: grid;
        grid-template-areas: "."; } }
  .container__contact_form_1 {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    margin: auto; }
  .container__contact_form_2 {
    margin: auto;
    display: grid;
    grid-gap: 2em;
    grid-template-areas: ".";
    margin-bottom: 1em; }

.container__social {
  display: flex;
  justify-content: space-evenly; }

.fa {
  height: 2.5em;
  width: 2.5em;
  font-size: 1.5em;
  color: rgba(190, 192, 198, 0.5);
  border-radius: 50%;
  margin: auto;
  text-align: center;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center; }
  .fa-instagram {
    transition: all 1s; }
    .fa-instagram:hover {
      transition: all 1s;
      color: transparent;
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
      background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
      background-clip: text;
      -webkit-background-clip: text; }
  .fa-phone {
    transition: all 1s; }
    .fa-phone:hover {
      transition: all 1s;
      color: blue; }
  .fa-envelope {
    transition: all 1s; }
    .fa-envelope:hover {
      color: white;
      transition: all 1s; }
  .fa-github {
    transition: all 1s; }
    .fa-github:hover {
      color: #eee;
      transition: all 1s; }
  .fa-facebook {
    transition: all 1s; }
    .fa-facebook:hover {
      transition: all 1s;
      color: blue; }

.vis {
  position: relative; }

body {
  transition: all .5s;
  background: #010101;
  color: #d2d3d7;
  font-family: "Montserrat", sans-serif; }

.welcome__services {
  background: #151515;
  height: 100vh; }
