.name__text {
  font-weight: bold;
  margin: auto;
  align-items: center;
  font-size: 1.5em;
  color: $color-heading-text;
  @media (max-width: 767px) {
    margin: auto;
    font-size: 1.2em;
    // text-align: center;
    // margin: 0;
    // padding: 0.5em;
  }
}

.drag__text {
  font-family: "Caveat", sans-serif;
  font-size: 10em;
  z-index: 1;
  position: relative;
  opacity: 0.5;
  // color: rgba(set-color($color-primary-dark), 0.5);
  @media (max-width: 767px) {
    font-size: 1.5em;
    margin: 02em auto 0;
  }
}
.drag__text_sprite {
  @media (max-width: 767px) {
    display: none;
  }
  opacity: 0.5;

  font-family: "Caveat", sans-serif;
  font-size: 5em;
  z-index: 1;
  text-align: right;
  padding: 0.5em;
  // default
  // color: rgba(set-color($color-primary-dark), 0.5);
}

.profession__container {
  margin: 0em $margin-for-hamburger 1em;
  font-weight: bold;
  font-size: clamp(16px, 5vw, 6em);
  text-align: left;
  line-height: 2em;
  @media (max-width: 767px) {
    font-size: 3em;
    margin: 1em 0.5em;
    text-align: center;
  }
}

.container__dynamicText {
  margin: 0em $margin-for-hamburger + 2em;
  font-size: 3em;
  display: inline-flex;
  @media (max-width: 767px) {
    font-size: 1.5em;
    margin: 0em auto;
  }
}

.hello__text {
  font-size: 14vw;
  color: $color-heading-text;
  font-family: "Bungee Outline", sans-serif;
  transform: translateY(0.5em);
}

.or__text {
  font-family: "Caveat", sans-serif;
  font-size: 1.3em;
  margin: auto;
  text-decoration: underline;
  border-bottom: 1px solid grey;
}
