.u-center-content {
  text-align: center;
  margin: auto;
}
.u-heading-text {
  font-weight: bold;
  color: $color-heading-text;
}

.u-subject-text {
  text-align: center;
  font-size: 3em;
  padding: 2em;
  letter-spacing: 0.5em;
  background-image: $background-rainbow-gradient;
  color: $color-primary-dark;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Caveat", sans-serif;
  @media (max-width: 767px) {
    font-size: 1.3em;
  }
}

.u-form-input {
  width: 20em;
  border-radius: $border-for-contact;
  outline: 0;
  border-width:0 0 2px;
  border-color:yellow;
  align-items: center;
  margin: 1.5em 0;
  &::placeholder {
    color: rgba($color-primary-dark, 0.7);
  }
  &:empty {
    color: rgba($color-primary-dark, 1);
    background: rgba($color-heading-text, 0.8);
    box-shadow: inset 31px 31px 37px #b88f5c, inset -31px -31px 37px #fac17c;
  }
  font-size: 1.1rem;
  padding: 0.5em;
  width: 100%;
  text-decoration: none;
  border: none;
  border-bottom: 2px solid transparent;
  transition: all 0.5s;
  &:focus{
    outline:0;
  }
  &:focus:invalid {
    border-bottom: 3px solid red;
  }

  &:focus:valid {
    border-bottom: 3px solid green;
  }

}
.u-form-input:placeholder-shown + .u-label-text {
  transform: translateY(-3.5em) translateX(2px);
  z-index: -1;
  transition: all 0.5s;
}

.u-label-text {
  transition: all 0.5s;
  transform: translateY(-0.5em);
  @media(max-width:767px){
    transform: translateY(0em);

  }
}
