@mixin gridHorizontal {
  display: grid;
  grid-template-areas: ". . ";
  grid-gap: 5em;  
  font-size: clamp(1em, 10vw, 2em);
  line-height: $default-line-height;
  padding:1em;
  text-align: left;
  padding:2em 4em;
  color:set-color($color-primary-dark)!important;
  @media (max-width: 767px) {
    grid-template-areas: "."".";
    margin-top: 1em;
    padding: .5em;
    text-align: center;
    font-size: 1.5em;
    grid-gap: 1em;
  }
}
