$color-primary-dark: #010101;

$color-primary-light: #d2d3d7;

$color-light-grey: #bec0c6;
$color-dark-grey: #5b5b5c;

// transition timings
$default-transition-time: 0.5s;

// default paddings
$margin-for-hamburger:2em;
