.container__contact {
  &_form {
    width: fit-content;
    margin: 5em auto;
    display: grid;
    // flex-direction:column;
    border: 1px solid rgba($color-light-grey, 0.2);
    padding: 2em 4em;
    grid-template-areas: ".";
    justify-content: space-evenly;
    background: rgba(set-color($color-light-grey), 0.1);
    backdrop-filter: blur(4px);
    flex-direction: column;
    @media (max-width: 767px) {
      flex-direction: column;
      width: 90%;
    }

    &_button {
      width: 50%;
      padding: 1em;
      text-align: center;
      border-radius: $border-for-contact;
      color: $color-heading-text;
      background: linear-gradient(55deg, #202020, #1b1b1b);
      box-shadow: 5px 5px 10px #2c2c2c, -5px -5px 10px #2c2c2c;
      transition: all 0.5s;
      font-size: 1.2em;
      margin: auto;
      position: relative;
      border: none;
      outline: 0;
      cursor: pointer;
      &:hover {
        background: linear-gradient(145deg, #1b1b1b, #202020);
        box-shadow: -5px -5px 10px #111111, 5px 5px 10px #111111;
        color: $color-heading-text;
        transform: scale(1.1);
        transition: all 0.5s;
      }
      &:active {
        outline: none;
        border: none;
        text-decoration: none;
        transition: all 0.2s;
        transform: translateY(-1px);
        box-shadow: -2.5px -2.5px 10px #111111, 2.5px 2.5px 10px #2c2c2c;
      }
      @media (max-width: 767px) {
        margin: auto;
      }
    }
    &_message_input {
      height: 10em;
      width: 20em;
      background: rgba(100, 100, 100, 0.3);

      @media (max-width: 767px) {
        width: 100%;
      }
    }
    &_grid {
      display: flex;
      padding: 2em 0;
      margin: auto;
      @media (max-width: 767px) {
        display: grid;
        grid-template-areas: ".";
        // grid-gap: 7em;
      }
    }
    &_1 {
      display: flex;
      flex-direction: column;
      align-items: space-around;
      // padding: 5em 0;
      margin: auto;
    }
    &_2 {
      margin: auto;
      display: grid;
      grid-gap: 2em;
      grid-template-areas: ".";
      margin-bottom: 1em;
    }
  }
}

.container__social {
  display: flex;
  justify-content: space-evenly;
}

.fa {
  &_contact {
    height: 3em;
    width: 3em;
    font-size: 1.5em;
    // opacity:.6;
    color: rgba($color-dark-grey, 1);
    border-radius: 50%;
    margin: auto;
    text-align: center;
    // box-shadow: -1px -1px 3px #1c1c1d, 2px 2px 6px #3c3c3d;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  &-instagram {
    transition: all 1s;
    &:hover {
      transition: all 1s;
      color: transparent;
      background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
      );
      background: -webkit-radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
      );
      background-clip: text;
      -webkit-background-clip: text;
    }
  }
  &-phone {
    transition: all 1s;

    &:hover {
      transition: all 1s;

      color: blue;
    }
  }
  &-envelope {
    transition: all 1s;

    &:hover {
      color: white;
      transition: all 1s;
    }
  }
  &-github {
    transition: all 1s;

    &:hover {
      color: #fff;
      transition: all 1s;
    }
  }
  &-facebook {
    transition: all 1s;

    &:hover {
      transition: all 1s;

      color: blue;
    }
  }
}

.dg {
  display: none !important;
}

canvas {
  z-index: -1;
  border: 1px solid rgba(set-color($color-primary-dark), 0.5);
  margin: auto;
  margin-top: 5em;
  width: 50vw !important;
  height: 50vh !important;
}
