.container__hamburger {
  display: flex;
  padding: 1.5em 2em;
  position: sticky;
  top: 0;
  color: rgba($color-light-grey, 1);
  z-index: 10;
  @media (max-width: 767px) {
    flex-direction: column;
    text-align: center;
    padding: 0.5em 0;
  }
  &_content {
    height: 99vh;
    width: 100vw;
    display: flex;
    font-size: 1.1em;
    text-align: center;
    @media (max-width: 767px) {
      flex-direction: column;
    }
    &_main {
      width: 23%;

      padding: 5em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      grid-template-areas: ".";
      background: $color-primary-dark;
      color: $color-light-grey;
      transition: all $default-transition-time;
      @media (max-width: 767px) {
        text-align: center;
        width: 100%;
        height: 23%;
        padding: 1em;
      }
      &_heading {
        font-size: 2em;
        line-height: $default-line-height;
        @media (max-width: 767px) {
          margin: auto;
        }
      }
      &_paragraph {
        color: $color-primary-dark;
        &:hover {
          color: $color-primary-light;
        }
        @media (max-width: 767px) {
          display: none;
        }
      }

      &:hover {
        transition: all $default-transition-time;
        background: $color-primary-light;
        color: $color-primary-dark;
      }
    }
  }
}

@media (max-width: 767px) {
  .hamburger-react {
    margin: auto;
    text-align: center;
  }
}
