.container__work {
  &_projects {
    display: flex;
    // flex-wrap: wrap;
    margin: auto;
    justify-content: space-evenly;
    @media (max-width: 767px) {
      overflow-x: scroll;
      justify-content: start;
    }

    width: 100%;
    &_card {
      @media (max-width: 767px) {
        height: 22em;
        width: 50vw;
      }
      z-index: 1;
      height: 15em;
      width: 15em;
      border: 1px solid rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(3px);
      padding: 1em;
      margin-top: 10em;
      border-radius: 2em;
      transition: all 0.5s;
      cursor: pointer;
      // &:not(:last-child){
      margin-left: 2em;
      // }
      &:hover {
        transform: scale(1.1);
        transition: all 0.5s;
      }
      &_head {
        font-size: 1.2em;
        font-weight: bold;
        backface-visibility: hidden;
      }
      &_details {
        font-size: 1.1em;
      }
    }
  }

  &_animations {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
}

#container {
  @media (max-width: 767px) {
    display: none;
  }
}

#container div {
  width: 90vw !important;
  margin: auto;
  border: 1px solid rgba(100, 100, 100, 0.4);
}
#parallax {
  margin-bottom: 2em;
}
