body {
  background: $color-primary-dark;
  // color: set-color($color-primary-dark);
  font-family: "Montserrat", sans-serif;
}

.welcome__services {
  // background: $color-primary-dark;
  height: 100vh;
}
