body {
  transition:all .5s;
  background: $color-primary-dark;
  color: set-color($color-primary-dark);
  font-family: "Montserrat", sans-serif;
}

.welcome__services {
  background: #151515;
  height: 100vh;
  }
